body {
  margin: 0;
  .inner-body {
    color: white;
    height: 88vh;
    overflow: scroll;
    background: rgba(0,0,0, .7);
  }
}

.unauthenticated-landing {
  padding-top: 3em;
}

* {
font-family: 'Roboto', sans-serif;
}

.toggle-switch {
  color: white;
  padding: 0 30% 0 30%;
  .toggled {
    background-color: #9b59b6;
  }
  button {
    width: 30%;
    padding: .75em 0;
    color: white;
    font-size: 14px;
    background-color: #9b59b6;
    border-color: #9b59b6;
  }
}

@media (max-width: 768px) {
  .toggle-switch {
    padding: 0 5% 0 5%;
  }
}
@import 'create-user-form';
@import 'login-form';
@import 'pathfinder-footer';
@import 'pathfinder-header';
@import 'ur-city';

