.login-form {
  padding: 0 30% 0 30%;
  width: 100vw;
  input {
    font-size: 16px;
    height: 35px;
    border: 2px solid #ecf0f1;
    border-radius: 2px;
  }
  button {
    height: 35px;
    border: 2px solid #2ecc71;
    background: #2ecc71;
    color: white;
    font-size: 16px;
    border-radius: 2px;
  }
}

@media (max-width: 768px) {
  .login-form {
    padding: 20% 10%;
  }
}
