footer {
  height: 6vh;
  min-height: 50px;
  line-height: 6vh;
  background: black;
  button {
    height: 6vh;
    width: 100%;
    color: #ecf0f1;
  }
  .green {
    background-color: #2ecc71;
    border-color: #2ecc71;
  }
  .purple {
    background-color: #9b59b6;
    border-color: #9b59b6;
  }
  .red {
    background-color: #e74c3c;
    border-color: #e74c3c;
  }
}
