footer {
  height: 6vh;
  min-height: 50px;
  line-height: 6vh;
  background: black;
  a:link {
      color: white;
  }
  a:visited {
      color: white;
  }
  a:hover {
      color: white;
  }
  a:active {
      color: white;
  }
}
