<img class='bg-image' src='/images/pathfinder.jpg'>

<vbox class='create-user-form'>
  <hbox>
    <box>
      {{input
        value=email
        placeholder="email"
        class="username-field"}}
    </box>
  </hbox>
  <hbox>
    <box>
      {{input
        type="password"
        placeholder="password"
        value=password
        class="password-field"}}
    </box>
  </hbox>
  <hbox>
    <box>
      {{input
        type="password"
        placeholder="confirm-password"
        value=password-confirmation
        class="password-field"}}
    </box>
  </hbox>
  <hbox>
    <box>
      <button {{action "createAccount"}}>
        Create Account
      </button>
    </box>
  </hbox>
</vbox>
