<vbox class="login-form">
  {{#if loginError}}
    <div class="login-err alert alert-error">Bad deets dude.</div>
  {{/if}}
  <br>
  {{input
    value=identification
    placeholder="email"}}
  <br>
  {{input
    type="password"
    placeholder="password"
    value=password}}
  <br>
  <button {{action "login"}}>
      Login
  </button>
</vbox>
