<hbox>
  <box sm='2' md='2' lg='2' class='header__left' horizontal>
    {{#link-to}}
      <img src='/images/pathfinder_logo.png'>
    {{/link-to}}
  </box>
  <box sm='10' md='10' lg='10' class='header__right' horizontal justify='end'>
    {{#if session.isAuthenticated}}
      <a href="/logout"
         class="logoutBtn"
         {{action "signout"}}>
        logout
      </a>
    {{/if}}
  </box>
</hbox>
