<vbox>
  <hbox>
    Quick Reference
  </hbox>

  <hbox>
    {{#link-to 'reference.skills'}}
      Skill Checks
    {{/link-to}}
    {{#link-to 'reference.combat'}}
      Combat
    {{/link-to}}
  </hbox>

  <hbox>
    {{outlet}}
  </hbox>

  <hbox>
    <table>
      <h3>Conditions</h3>
      <tr>
        <th>Condition</th>
        <th>Description</th>
      </tr>
      {{#each model as |condition|}}
        <tr>
          <td>{{condition.condition}}</td>
          <td>{{condition.description}}</td>
        </tr>
      {{/each}}
    </table>
  </hbox>
</vbox>
