<box align='center'>
  <h1>
    UR - a world turned on it's side.
  </h1>
</box>
<hbox>
  <box align='center'>
    {{#link-to 'ur.cities'}}
      cities
    {{/link-to}}
  </box>
  <box align='center'>
    {{#link-to 'ur.pillars'}}
      pillars
    {{/link-to}}
  </box>
</hbox>

{{outlet}}
