<box align='center'>
  <h1>
    UR - a world turned on its side.
  </h1>
</box>
<box align='center'>
  <img class="banner-image" src='/images/cassini_hurricanes.png'>
</box>
<hbox>
  <box align='center'>
    {{#link-to 'ur.cities'}}
      <h2 class='text-white'>The Great Cities</h2>
    {{/link-to}}
  </box>
  <box align='center'>
    {{#link-to 'ur.pillars'}}
      <h2 class='text-white'>The Bones of Ur</h2>
    {{/link-to}}
  </box>
</hbox>

{{outlet}}
